**/*.rs.bk
*.py[cod]
*.swo
*.swp
.DS_Store
.ci-local-run.log
.cursor/
.idea/
.vscode/
/mutants.out.old/
/mutants.out/
/site/
/target/
__pycache__/
extension/*.vsix
extension/.vscode-test/
extension/dist/
extension/node_modules/
extension/out/
extension/server/

# Workspace session / plugin output written by ontocore or the extension
**/.ontocode/
